@model DbCottonDollStore.Models.ProductSpec

@{
    Layout = null;
    ViewData["Title"] = "Create";
}




        
@* <form asp-action="Create" enctype="multipart/form-data" id="specForm"> *@
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row mt-2">
        <div class="col-md-2 align-content-center">
            <label asp-for="Spec" class="control-label">規格</label>
        </div>
        <div class="col-md-10" id="spec">
            <div>
                <div class="form-group" id="photoGroup">
                    <label for="uploadPhoto" class="control-label imgUpdate" title="新增圖片">
                        <img id="photoPreview" />
                        <span>新增圖片222</span>
                    </label>
                    <input type="file" name="photo" id="uploadPhoto" class="hide" />
                    <span class="alert-danger">@ViewData["Message"]</span>
                </div>
                <div class="input-group">
                    <input asp-for="Spec" class="form-control" placeholder="規格" />
                    <input asp-for="Quantity" class="form-control" placeholder="庫存" />
                    <span class="input-group-text">NT.</span>
                    <input asp-for="Price" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="價格">

                    <span asp-validation-for="Spec" class="text-danger"></span>
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                
                <input type="hidden" asp-for="StoreID" value="@ViewBag.sid" />
                <input type="hidden" asp-for="ProID" value="1" />
                <input type="hidden" asp-for="ProSpecID" value="1" />
                <input type="button" value="+新增規格" class="btn btn-success mt-2" id="add" onclick="addSpec()" />
            </div>
        </div>
    </div>
@* </form> *@
    


    @* <div class="form-group">
    <input type="submit" value="Create" class="btn btn-primary" />
    </div> *@

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        function addSpec() {
            $('#addSpec').remove()
            var newSpecGroup = `
                            <div>
                                <div class="input-group">
                                    <input asp-for="Spec" name="spec" class="form-control" placeholder="規格" />
                                    <input asp-for="Quantity" name="quantity" class="form-control" placeholder="庫存" />
                                    <span class="input-group-text">NT.</span>
                                    <input asp-for="Price" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="價格">

                                    <span asp-validation-for="Spec" class="text-danger"></span>
                                    <span asp-validation-for="Quantity" class="text-danger"></span>
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <input type="button" value="+新增規格" class="btn btn-success mt-2" id="addSpec" />
                            </div>
                            `;
            var newImgGroup = `
                    <label for="uploadPhoto" class="control-label imgUpdate" title="新增圖片">
                            <img id="photoPreview" />
                            <span>新增圖片</span>
                    </label>
                    <input type="file" name="photo" id="uploadPhoto" class="hide" />
                    <span class="alert-danger">@ViewData["Message"]</span>                            
                    `;
            $('#showSpecForm').append(newSpecGroup
            $('#imgGroup').append(newImgGroup);
        };

    </script>
}